In [22]:
import pandas as pd
shop_info_head=["shop_id","city_name","location_id","per_day","score","comment_cnt"
               ,"shop_level","cate_1_name","cate_2_name","cate_3_name"]
shop_info=pd.read_csv(r"E:\dataset\shop_info.txt",names=shop_info_head)
shop_info.head(10)

,shop_id,city_name,location_id,per_day,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
1,2,哈尔滨,64,19,NaN,NaN,1,超市便利店,超市,NaN
2,3,南昌,774,5,3.0,2.0,0,美食,休闲茶饮,奶茶
3,4,天津,380,18,NaN,NaN,1,超市便利店,超市,NaN
4,5,杭州,263,2,2.0,2.0,0,美食,休闲食品,生鲜水果
5,6,大连,1139,13,3.0,1.0,0,美食,烘焙糕点,面包
6,7,绍兴,145,13,3.0,9.0,2,美食,快餐,西式快餐
7,8,杭州,234,16,3.0,1.0,0,美食,休闲食品,生鲜水果
8,9,杭州,1120,15,4.0,0.0,1,超市便利店,超市,NaN
9,10,孝感,98,10,NaN,NaN,0,超市便利店,超市,NaN

In [34]:
import pandas as pd
uer_pay_head=["user_id","shop_id","time_stamp"]
uer_pay=pd.read_csv(r"E:\dataset\user_pay.txt",names=uer_pay_head ,nrows=10)
uer_pay

    user_id  shop_id           time_stamp
0  22127870     1862  2015-12-25 17:00:00
1   3434231     1862  2016-10-05 11:00:00
2  16955285     1862  2016-02-10 15:00:00
3  13799128     1862  2016-01-13 14:00:00
4  13799128     1862  2016-07-05 12:00:00
5  20244878     1862  2016-09-17 15:00:00
6  20244878     1862  2016-05-29 16:00:00
7    438444     1862  2016-02-22 17:00:00
8  22003193     1862  2016-08-07 15:00:00
9  20244878     1862  2016-04-17 16:00:00